<div class="container-fluid mt-5 ug-container shadow">
  <h4 class="mb-4 ug-title">Registro de Facultad y Encargado</h4>

  <form>
    <div class="mb-4">
      <label for="nombreFacultad" class="form-label ug-label"
        >Nombre de la Facultad</label
      >
      <input
        type="text"
        class="form-control ug-input"
        id="nombreFacultad"
        placeholder="Ej. Facultad de Ingeniería en Sistemas"
        required
      />
    </div>

    <div class="mb-4">
      <label for="nombreEncargado" class="form-label ug-label"
        >Nombre del Encargado</label
      >
      <input
        type="text"
        class="form-control ug-input"
        id="nombreEncargado"
        placeholder="Ej. Ing. José Pérez"
        required
      />
    </div>

    <div class="mb-4">
      <label for="correoEncargado" class="form-label ug-label"
        >Correo del Encargado</label
      >
      <input
        type="email"
        class="form-control ug-input"
        id="correoEncargado"
        placeholder="ejemplo@universidad.edu.ec"
        required
      />
    </div>

    <button
      type="submit"
      (click)="registroFacultad()"
      class="btn ug-btn-primary"
    >
      Registrar Facultad
    </button>
  </form>
</div>
