<div class="container mt-5">
  <form id="gestionEncuesta" class="ug-form shadow">
    <!-- Facultad -->
    <div class="form-section">
      <h5 class="section-title">Lugar</h5>
      <label for="facultadSelect" class="form-label">Seleccione un Lugar</label>
      <select id="facultadSelect" class="form-select" required>
        <option value="">-- Seleccione un Lugar --</option>
        <option value="ingenieria">Lugar 1</option>
        <option value="ingenieria">Lugar 2</option>
      </select>
    </div>

    <!-- Departamento -->
    <div class="form-section">
      <h5 class="section-title">Departamento</h5>
      <label for="departamentoSelect" class="form-label"
        >Seleccione un Departamento</label
      >
      <select id="departamentoSelect" class="form-select" required>
        <option value="">-- Seleccione un departamento --</option>
        <option value="medico">Departamento Médico</option>
        <option value="administrativo">Departamento Administrativo</option>
        <option value="tecnico">Departamento Técnico</option>
      </select>
    </div>

    <!-- Botones -->
    <div class="form-actions">
      <button type="reset" class="btn btn-outline-primary">Limpiar</button>
      <button (click)="continuarPreguntas()" class="btn btn-primary">
        Continuar
      </button>
    </div>
  </form>
</div>
